:root {
  scroll-behavior: smooth;
}

main > header > img {
  border-radius: 50%;
}

// fix with for non main / home pages:

main.page {
  min-height: 85vh !important;
  .theme-default-content {
    min-width: 80vw;
  }
}

.feature {
  min-width: 48%;
}

.home .hero img {
  margin: 1rem auto 1rem !important;
}

img[alt="ICT Directional Bullish Bias For Sculping"]
img[alt="ICT Directional Bearish Bias For Sculping"] {
    max-width: 24%;
}

img[alt="Implementing Bullish Daily Bias"],
img[alt="Implementing Bearish Daily Bias"] {
    max-width: 74%;
}

img[alt="ICT Power Of 3 - Bullish Daily Bias figure"],
img[alt="ICT Power Of 3 - Bearish Daily Bias figure"] {
    max-width: 24%;
}

img[alt="ICT Power Of 3 - Bullish Daily Bias example"],
img[alt="ICT Power Of 3 - Bearish Daily Bias example"] {
    max-width: 74%;
}

@media screen and (min-width: 1500px) {
  main.page {
    min-height: 85vh !important;
    .theme-default-content {
      min-width: 75vw;
    }
  }
}

@media screen and (max-width: 1499px) {
  main.page {
    min-height: 85vh !important;
    .theme-default-content {
      min-width: 70vw;
    }
  }
}

@media screen and (max-width: 1200px) {
  main.page {
    min-height: 85vh !important;
    .theme-default-content {
      min-width: 65vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  main.page {
    min-height: 85vh !important;
    .theme-default-content {
      min-width: 60vw;
    }
  }
}

@media screen and (max-width: 768px) {
  main.page {
    min-height: 85vh !important;
    .theme-default-content {
      min-width: 55vw;
    }
  }
}
